body {
  background-color: #ffffff;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}


h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
  color: rgb(51, 51, 51);
  line-height: 24px;
}

h1 {
  font-weight: 100;
  font-size: 60px;
  padding: 20px 0;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  padding: 20px 0;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 16px;
}

p {
  font-weight: 400;
  font-size: 16px;
}

hr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(51, 51, 51);
}

nav {
  width: 100%;
  height: 50px;
  align-items: center;

}

nav .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

nav ul li {
  list-style: none;
  float: left;
}

nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: rgb(51, 51, 51);
  text-decoration: none;
  padding: 0 16px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

nav ul li a:hover {
  color: #2c83ca;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}


section {
  width: 100%;
  padding: 20px 3%;
}

/* index */

.index-intro p {
    text-align: center;
}

.index-categories-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-categories-list div {
  width: 24%;
  height: 200px;
  background-color: #2c83ca;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sign up */

.signup-form-form {
  display: flex;
  justify-content: center;
}

.signup-form p {
  text-align: center;
  padding-bottom: 40px;
  color: #2c83ca;
}

.signup-form form {
  width: 30%;
}

.signup-form form select{
  width: 200px;
  padding: 12px;
  background-color: white;
  border:1px solid #cccccc;
  margin-bottom: 20px;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

.signup-form form input[type="text"], input[type="date"], input[type="password"], input[type="email"], input[type="number"] {
  width: 200px;
  padding: 12px;
  border:1px solid #cccccc;
  margin-bottom: 20px;
  border-radius: 3px;
  -moz-appearance:textfield;
  transition: all 0.3s ease 0s;
}

input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.signup-form form input[type="text"]:hover, input[type="date"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="number"]:hover, select:hover{
  outline:none;
  box-shadow: 0px 3px 10px 2px rgba(70, 70, 70, 0.1);
  transition: all 0.3s ease 0s;
}

.signup-form form input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus,select:focus{
  outline:none;
  box-shadow: 0px 0px 0px 2px #2c83ca;
  transition: all 0.3s ease 0s;
}

/*$ sign in front of texts that require money */

.dollar{
	display:inline-block;
	position: relative;
}
.dollar input{
	padding-left:15px;
}
.dollar:before {
  font-family: 'Roboto', sans-serif;
	position: absolute;
    content:"$";
    left:3px;
	top:11px;
  color: rgb(0, 0, 0);
}
  


/* viewEmployee.php search bar */
.form-control{
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search{
  height: 30px;
  width: 210px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 10px;
  transition: all .5s ease-in-out;
  background-color: #f8f8f8;
  color:rgb(0, 0, 0);
}
.input-search::placeholder{
  color:rgba(0, 0, 0, 0.9);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search:focus{
  width: 500px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(0, 0, 0, 0.5);
  transition: all .35s ease-in-out;
  /* transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
}

.input-search:hover, .input-search::placeholder:hover{
  background-color: rgb(241, 241, 241);
  transition: all .3s ease-in-out;
}





/* Form stuff */
.signup-form form button {
  
  color:white;
	width: 100px;
  height: 40px;
  font-size: 17px;
  text-align: center;
	margin: auto;
	background-color: #2c83ca; 
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.09);
	transition: all 0.3s ease 0s;
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  cursor: pointer;
}

.signup-form form button:hover {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  background-color:rgb(255, 255, 255);
  color: #3aa6ff;
  border:1px solid #cccccc;
	transition: all 0.3s ease 0s;
}

.signup-form form button:disabled {
  color:white;
	width: 100px;
  height: 40px;
  font-size: 17px;
  text-align: center;
	margin: auto;
	background-color: #99afc2; 
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.09);
	transition: all 0.3s ease 0s;
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  cursor:auto;
}

button {
  
  color:white;
	width: 100px;
  height: 40px;
  font-size: 17px;
  text-align: center;
	margin: auto;
	background-color: #2c83ca; 
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.09);
	transition: all 0.3s ease 0s;
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  cursor: pointer;
}

 button:hover {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  background-color:rgb(255, 255, 255);
  color: #2c83ca;
  border:1px solid #cccccc;
	transition: all 0.3s ease 0s;
}




/* LABEL */
labelSpace {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: rgb(51, 51, 51);
  margin: 10px auto;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

label {
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb(51, 51, 51);
  margin: 10px auto;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}


/* TABLE */

/* viewEmployee.php table */
/* If you're looking to changing the table alternatio color, go inside viewEmployees.php,
there's a JS script that does it */
table{
  box-shadow: 0px 3px 10px 2px rgba(70, 70, 70, .35);
  padding-top: 20px;
  border-collapse:collapse;
}


td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
}


th{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2c83ca;
  font-family: 'Roboto', sans-serif;
  border: none;

}

td[contenteditable="true"]{
  text-align: center;
  transition: all 0.3s ease 0s;
}

td[contenteditable="true"]:hover{
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}

td[contenteditable="true"]:focus{
  outline: 0px solid transparent;
  font-size: 24px;
  box-shadow: 0px 0px 0px 2px #2c83ca;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
}









